.user-image {
	padding-top:10px;
	padding-bottom: 10px;		
}

.subs{
	list-style-type: none;
	height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.trophies-list{
	max-height: 200px;	
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    list-style-type: none;
}

.trophies-bar{
	background-color: #FFD700;
	display: inline-block;
}
.user-side-tab{
	background-color: #FFCC00;
}
.user-posts{
	background-color: #FFAC00;
}
.user-name{
	font-size: 20px;
	font-family: "Arial",Georgia,Serif;
	color: white;
}
.user-base {
	background-color: #2E8B57;
}
.post-head{
	text-transform:capitalize;
	font-weight: bold;
	font-size: 35px;
	font-family: "Arial",Georgia,Serif;
	color: white;
}