<div class="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> Share X Kheir</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="signup_org.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div> <!-- /header -->

