<div class="featurette">
   <div class="featurette-inner text-center">
      <form role="form" class="search">
         <div class="input-group input-group-lg">
            <input type="search" placeholder="Search for..." class="form-control">
            <span class="input-group-btn">
               <button class="btn btn-danger" type="button">Go!</button>
            </span>
         </div>
         <!-- /input-group -->
      </form>
      <!-- /.max-width on this form -->

   </div>
   <!-- /.featurette-inner (display:table-cell) -->

</div>
<!-- /.featurette (display:table) -->

<hr>

